# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual Environment
.venv/
venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log
logs/

# Uploaded files
backend/uploads/

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Node
node_modules/
.next/
dist/
